<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h3>News-Scraper</h3>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-lg">Home</button>
      <button class="btn btn-primary btn-lg">Saved Articles</button>
      <button class="btn btn-danger btn-lg scraper">Scrape New Articles</button>
    </div>
  </div>

 




  <form class="create-update-form" action="/" method="POST">

    <div class="form-group">
      <label for="ca">Cat Name:</label>
      <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
      <label for="slee">Sleepy?</label><br>
      <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
      <input type="radio" name="sleepy" value="0"> Awake
    </div>

    <button type="submit">Add Cat</button>
  </form>


</div>